.CountriesList {
  text-align: center;
}
.SearchBar {
  position: absolute;
  top: 495px;
  left: 565px;
}

.SearchBar input {
  height: 30px;
  width: 70px;
}

body {
  font-family: 'Times New Roman', Times, serif;
  background-color: rgb(255, 174, 0);
  height: 100vh;
  color: rgb(1, 0, 5);
}

.photo {
    height: 400px;
    width: 645px; 
}

.Header {
  text-align: center;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}